.hero {
  background: url("../images/bg.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  z-index: 10;
}

.hero::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090a 99.74%);
  z-index: -1;
}

.hero__inner {
  padding-top: 250px;
  padding-bottom: 450px;
}

.hero__title {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  margin-bottom: 13px;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 64px;
    line-height: 64px;
  }
}

@media (max-width: 576px) {
  .hero__title {
    font-size: 42px;
    line-height: 42px;
  }
}

.hero__subtitle {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 33px;
}

@media (max-width: 768px) {
  .hero__subtitle {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .hero__subtitle {
    font-size: 16px;
    line-height: 16px;
  }
}

.hero__button {
  cursor: pointer;
  width: 261px;
  height: 60px;
  position: relative;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1a1917;
}

.hero__button:active {
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
}

.hero__button:hover {
  background: linear-gradient(194.68deg, #dfa230 11.27%, #f5b658 90.4%);
}

.hero__button a {
  display: block;
  color: #1a1917;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding-left: 17px;
  padding-right: 12px;
  position: relative;
}

.hero__button a::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 24px;
  right: 0;
  opacity: 0.5;
  border: 0.873968px solid #1a1917;
}

.hero__button span {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 18px;
  padding-left: 12px;
}

.hero .tools__select.active {
  cursor: pointer;
}

.hero .tools__select.active .select__inner {
  opacity: 1;
}

.hero .select {
  cursor: pointer;
  position: relative;
}

.hero .select span {
  display: block;
  margin-bottom: 5px;
}

.hero .select span:last-child {
  margin-bottom: 0px;
}

.hero .select__inner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20px;
  left: -10px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  width: 55px;
  height: 66px;
  opacity: 0;
  cursor: pointer;
}

.hero .scroll-down {
  cursor: pointer;
  position: absolute;
  bottom: 53px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .scroll-down__text {
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.hero .scroll-down__icon {
  -webkit-animation: goDown 1s ease alternate infinite;
          animation: goDown 1s ease alternate infinite;
}

@media (max-width: 576px) {
  .hero .scroll-down {
    left: 15px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes goDown {
  to {
    -webkit-transform: translateY(8px) scale(1.2);
            transform: translateY(8px) scale(1.2);
  }
}

@keyframes goDown {
  to {
    -webkit-transform: translateY(8px) scale(1.2);
            transform: translateY(8px) scale(1.2);
  }
}

.header {
  position: relative;
  height: 90px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
}

.header.active .menu__list {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header.active .hamburger span {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.header.active .hamburger span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.header.active .hamburger span:nth-child(2) {
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.header.active .hamburger span:nth-child(3) {
  opacity: 0;
}

@media (max-width: 768px) {
  .header.active .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 576px) {
  .header {
    height: 52px;
  }
}

.header .logo {
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.header .logo__img {
  width: 55px;
  height: 55px;
}

.header .logo:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

@media (max-width: 576px) {
  .header .logo__img {
    width: 35px;
    height: 35px;
  }
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header .menu__list {
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    z-index: 100;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
  }
  .header .menu__list-item {
    margin-bottom: 50px;
  }
}

.header .menu__list-item + li {
  margin-left: 45px;
}

@media (max-width: 1200px) {
  .header .menu__list-item + li {
    margin-left: 35px;
  }
}

@media (max-width: 992px) {
  .header .menu__list-item + li {
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  .header .menu__list-item + li {
    margin-left: 0;
  }
}

.header .menu__list-link {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  position: relative;
}

.header .menu__list-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ffb548;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.header .menu__list-link:hover {
  color: #ffb548;
  text-shadow: 0 0 5px #000;
}

.header .menu__list-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.header .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .tools__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-right: 25px;
  position: relative;
}

.header .tools__select span {
  margin-right: 5px;
}

@media (max-width: 1200px) {
  .header .tools__select:after {
    display: none;
  }
}

@media (max-width: 768px) {
  .header .tools__select {
    -webkit-transform: translate(-60px);
            transform: translate(-60px);
  }
}

.header .tools__select::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 30px;
  top: -8px;
  right: 0;
  background-color: #fff;
  opacity: 0.5;
}

.header .tools__select .img-arrow {
  margin-top: 8px;
}

.header .tools__icons {
  margin-left: 25px;
}

@media (max-width: 992px) {
  .header .tools__icons {
    display: none;
  }
}

.header .tools__icon-xbox {
  margin-right: 17px;
}

.header .tools__icon-steam, .header .tools__icon-xbox {
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.header .tools__icon-steam:hover, .header .tools__icon-xbox:hover {
  -webkit-transform: scale(1.11);
          transform: scale(1.11);
}

.header .hamburger {
  cursor: pointer;
  z-index: 1000;
  border-radius: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  padding: 5px;
}

@media (max-width: 576px) {
  .header .hamburger {
    top: 10px;
  }
}

.header .hamburger span {
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
}

.header .hamburger span:nth-child(2) {
  top: 8px;
}

.header .hamburger span:nth-child(3) {
  bottom: 8px;
  width: 15px;
}

@media (max-width: 768px) {
  .header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.features {
  padding-top: 255px;
  padding-bottom: 260px;
  position: relative;
  background-image: url("../images/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 960px;
  z-index: 10;
}

@media (max-width: 576px) {
  .features {
    padding: 82px 0 82px;
    background-position: -460px center;
  }
  .features::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(17.45% 34.77% at 8.45% 37.62%, rgba(255, 255, 255, 0) -3%, rgba(0, 0, 0, 0) -10%, #040506 6.99%, rgba(6, 7, 8, 0) 85.03%, #080a0b 99.74%);
  }
}

.features::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080a0b 99.74%);
}

.features__col-left {
  margin-left: calc(100% - 390px);
}

.features__pretitle {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 20px;
}

.features__title {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 85px;
}

.features__item {
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  overflow: hidden;
}

.features__item::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  top: 10px;
  left: 0;
  border: 1.5px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.features__item::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 155px;
  top: 17px;
  left: 6.3px;
  background-color: #fff;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  display: none;
}

.features__item.active::before {
  background-color: #fff;
}

.features__item.active .features__item-text {
  height: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.features__item-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: #ffb548;
  margin-bottom: 25px;
}

.features__item-text {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 28px;
  max-width: 363px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  height: 0;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.description {
  padding: 185px 0 145px;
  position: relative;
  background: url("../images/bg-2.jpg") no-repeat center center/cover;
  z-index: 10;
}

@media (max-width: 576px) {
  .description {
    padding: 48px 0 36px;
  }
}

.description::after, .description::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.description::after {
  background: #0f0f0f;
  opacity: 0.9;
}

.description::before {
  background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080a0b 99.74%);
}

.description .line {
  position: absolute;
  height: 3px;
  width: 722px;
  background-color: #fff;
  top: 45%;
  z-index: 100;
  display: none;
}

@media (max-width: 576px) {
  .description .line {
    top: 25%;
    width: 100%;
  }
}

.description__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 576px) {
  .description__inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.description__pretitle {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .description__pretitle {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    width: 154px;
    margin-bottom: 7px;
  }
}

.description__title {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 85px;
  width: 271px;
}

@media (max-width: 576px) {
  .description__title {
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 3px;
  }
}

.description__text {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  max-width: 365px;
  margin-left: 185px;
}

@media (max-width: 576px) {
  .description__text {
    font-size: 14px;
    line-height: 16px;
    margin-left: 20px;
    margin-bottom: 50px;
  }
}

.description__slider {
  position: relative;
}

.description__slider-item {
  max-width: 503px;
  width: 100%;
  height: 611px;
  overflow: hidden;
  border-radius: 6px;
  position: absolute;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 10000;
}

.description__slider-item.active {
  opacity: 1;
  z-index: 300;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.description__slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .description__slider-item {
    max-width: 225px;
    height: 274px;
    text-align: center;
  }
}

.description .arrow-block {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.features {
  padding-top: 255px;
  padding-bottom: 260px;
  position: relative;
  background-image: url("../images/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 960px;
  z-index: 10;
}

@media (max-width: 576px) {
  .features {
    padding: 82px 0 82px;
    background-position: -460px center;
  }
  .features::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(17.45% 34.77% at 8.45% 37.62%, rgba(255, 255, 255, 0) -3%, rgba(0, 0, 0, 0) -10%, #040506 6.99%, rgba(6, 7, 8, 0) 85.03%, #080a0b 99.74%);
  }
}

.features::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080a0b 99.74%);
}

.features__col-left {
  margin-left: calc(100% - 390px);
}

.features__pretitle {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 20px;
}

.features__title {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 85px;
}

.features__item {
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  overflow: hidden;
}

.features__item::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  top: 10px;
  left: 0;
  border: 1.5px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.features__item::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 155px;
  top: 17px;
  left: 6.3px;
  background-color: #fff;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  display: none;
}

.features__item.active::before {
  background-color: #fff;
}

.features__item.active .features__item-text {
  height: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.features__item-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: #ffb548;
  margin-bottom: 25px;
}

.features__item-text {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 28px;
  max-width: 363px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  height: 0;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fz80 {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 768px) {
  .fz80 {
    font-size: 64px;
    line-height: 64px;
  }
}

@media (max-width: 576px) {
  .fz80 {
    font-size: 33px;
    line-height: 33px;
  }
}

.fz24 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 768px) {
  .fz24 {
    font-size: 18px;
    line-height: 18px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

.title {
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

.footer {
  padding-top: 30px;
  min-height: 233px;
  background: #080a0b;
  z-index: 10;
}

.footer .logo {
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.footer .logo:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 31px;
}

@media (max-width: 992px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 88px;
  margin-left: 165px;
}

@media (max-width: 1200px) {
  .footer .menu__list {
    margin-left: 55px;
  }
}

@media (max-width: 992px) {
  .footer .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 43px 0px;
  }
}

@media (max-width: 992px) {
  .footer .menu__list-item {
    margin: 20px;
  }
}

.footer .menu__list-item + li {
  margin-left: 42px;
}

@media (max-width: 1200px) {
  .footer .menu__list-item + li {
    margin: 32px;
  }
}

@media (max-width: 567px) {
  .footer .menu__list-item + li {
    margin: 20px;
  }
}

.footer .menu__list-link {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.footer .menu__list-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ffb548;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.footer .menu__list-link:hover {
  color: #ffb548;
}

.footer .menu__list-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.footer .socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social__item + li {
  margin-left: 50px;
}

@media (max-width: 1200px) {
  .footer .social__item + li {
    margin-left: 30px;
  }
}

.footer .socials__link path {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.footer .socials__link:hover.facebook path {
  fill: #3b5998;
}

.footer .socials__link:hover.twitter path {
  fill: #00acee;
}

.footer .socials__link:hover.youtube path {
  fill: #ff1313;
}

.footer .socials__link:hover.twitch path {
  fill: #6441a5;
}

.footer .line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0.5;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 22px 0px 47px;
}

@media (max-width: 768px) {
  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__copytext {
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
}

@media (max-width: 576px) {
  .footer__copytext {
    font-size: 12px;
    line-height: 16px;
  }
}

.footer__tools {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer__tools {
    margin-top: 30px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */