// @import 'hero';
// @import 'features';
// @import 'description';
// @import 'qoutes';
// @import 'requirements';
// @import 'subscribe';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.fz80 {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;

  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 64px;
    line-height: 64px;
  }
  @media (max-width: 576px) {
    font-size: 33px;
    line-height: 33px;
  }
}

.fz24 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;

  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 18px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

.title {
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}

.hero {
  background: url('../images/bg.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  z-index: 10;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    );
    z-index: -1;
  }

  &__inner {
    padding-top: 250px;
    padding-bottom: 450px;
  }

  &__title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    margin-bottom: 13px;

    @media (max-width: 768px) {
      font-size: 64px;
      line-height: 64px;
    }
    @media (max-width: 576px) {
      font-size: 42px;
      line-height: 42px;
    }
  }
  &__subtitle {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    margin-bottom: 33px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 20px;
    }
    @media (max-width: 576px) {
      font-size: 16px;
      line-height: 16px;
    }
  }
  &__button {
    cursor: pointer;
    width: 261px;
    height: 60px;
    position: relative;
    background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
    border-radius: 4px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1a1917;
    // transition: box-shadow 300ms ease;

    &:active {
      transform: scale(0.985);
    }

    &:hover {
      background: linear-gradient(194.68deg, #dfa230 11.27%, #f5b658 90.4%);
    }

    a {
      display: block;
      color: #1a1917;
      flex: 3;
      padding-left: 17px;
      padding-right: 12px;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 24px;
        right: 0;
        opacity: 0.5;
        border: 0.873968px solid #1a1917;
      }
    }

    span {
      display: block;
      flex: 1;
      padding-right: 18px;
      padding-left: 12px;
    }
  }
  .tools__select.active {
    cursor: pointer;
    .select__inner {
      opacity: 1;
    }
  }
  .select {
    // pointer-events: none;
    cursor: pointer;
    position: relative;
    span {
      display: block;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0px;
      }
    }

    &__inner {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 20px;
      left: -10px;
      background: rgba(0, 0, 0, 0.75);
      border-radius: 3px;
      width: 55px;
      height: 66px;
      opacity: 0;
      // .hidden {
      //   opacity: 1;
      // }
      cursor: pointer;
    }
  }
  .scroll-down {
    cursor: pointer;
    position: absolute;
    bottom: 53px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
      font-weight: bold;
      font-size: 12px;
      line-height: 22px;
      text-align: justify;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 10px;
    }
    &__icon {
      animation: goDown 1s ease alternate infinite;
    }

    @media (max-width: 576px) {
      left: 15px;
      transform: translateX(0);
    }
  }
}

@keyframes goDown {
  to {
    transform: translateY(8px) scale(1.2);
  }
}

.header {
  position: relative;
  height: 90px;
  // padding-top: 45px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
  }

  &.active {
    .menu__list {
      transform: translateX(0);
    }
    .hamburger {
      span {
        transition: 300ms ease;
        &:nth-child(1) {
          top: 8px;
          transform: rotate(45deg);
          transition: 300ms ease;
        }
        &:nth-child(2) {
          bottom: 8px;
          transform: rotate(-45deg);
          transition: 300ms ease;
        }
        &:nth-child(3) {
          opacity: 0;
        }
      }

      @media (max-width: 768px) {
        display: flex;
      }
    }
  }

  @media (max-width: 576px) {
    // padding-top: 25px;
    height: 52px;
  }
  .logo {
    cursor: pointer;
    transition: transform 250ms ease-in;
    &__img {
      width: 55px;
      height: 55px;
    }

    &:hover {
      transform: translateY(5px);
    }

    @media (max-width: 576px) {
      &__img {
        width: 35px;
        height: 35px;
      }
    }
  }

  .menu {
    // position: absolute;
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        top: 0;
        right: 0;
        transform: translateX(100%);
        background-color: rgba(0, 0, 0, 0.9);
        height: 100vh;
        z-index: 100;
        transition: 500ms ease;

        &-item {
          margin-bottom: 50px;
        }
      }
    }

    &__list-item + li {
      margin-left: 45px;

      @media (max-width: 1200px) {
        margin-left: 35px;
      }
      @media (max-width: 992px) {
        margin-left: 25px;
      }
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
    &__list-link {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
      transition: 250ms ease;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: #ffb548;
        transform: scaleX(0);
        transform-origin: center;
        opacity: 0;
        transition: 300ms ease;
      }

      &:hover {
        color: #ffb548;
        text-shadow: 0 0 5px #000;

        &::after {
          transform: scaleX(1);
          opacity: 1;
        }
      }
    }
  }

  .tools {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__select {
      display: flex;
      align-items: center;

      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
      padding-right: 25px;
      position: relative;

      span {
        margin-right: 5px;
      }

      @media (max-width: 1200px) {
        &:after {
          display: none;
        }
      }
      @media (max-width: 768px) {
        transform: translate(-60px);
      }

      // border-right: 1px solid #fff;

      &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 30px;
        top: -8px;
        right: 0;
        background-color: #fff;
        opacity: 0.5;
      }

      .img-arrow {
        margin-top: 8px;
      }
    }
    &__icons {
      margin-left: 25px;

      @media (max-width: 992px) {
        display: none;
      }
    }
    &__icon-xbox {
      margin-right: 17px;
    }
    &__icon-steam,
    &__icon-xbox {
      transition: transform 250ms ease;
      &:hover {
        transform: scale(1.11);
      }
    }
  }

  .hamburger {
    cursor: pointer;
    z-index: 1000;
    border-radius: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    // background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: none;
    padding: 5px;

    @media (max-width: 576px) {
      top: 10px;
    }

    span {
      position: absolute;
      width: 24px;
      height: 3px;
      background-color: #fff;
      border-radius: 3px;

      &:nth-child(2) {
        top: 8px;
      }
      &:nth-child(3) {
        bottom: 8px;
        width: 15px;
      }
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}


.description {
  padding: 185px 0 145px;
  position: relative;

  background: url('../images/bg-2.jpg') no-repeat center center/cover;
  // height: 960px;
  z-index: 10;

  @media (max-width: 576px) {
    padding: 48px 0 36px;
  }

  &::after,
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &::after {
    background: #0f0f0f;
    opacity: 0.9;
  }

  &::before {
    background: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 60.63%,
      #080a0b 99.74%
    );
  }

  .line {
    position: absolute;
    height: 3px;
    width: 722px;
    background-color: #fff;
    top: 45%;
    z-index: 100;
    display: none;

    @media (max-width: 576px) {
      top: 25%;
      width: 100%;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      // justify-content: center;
    }
  }

  &__pretitle {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 20px;
    @media (max-width: 576px) {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 2px;
      width: 154px;
      margin-bottom: 7px;
    }
  }
  &__title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 85px;
    width: 271px;
    @media (max-width: 576px) {
      font-size: 33px;
      line-height: 33px;
      letter-spacing: 3px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #ffffff;
    max-width: 365px;
    margin-left: 185px;

    @media (max-width: 576px) {
      font-size: 14px;
      line-height: 16px;
      margin-left: 20px;
      margin-bottom: 50px;
    }
  }

  &__slider {
    position: relative;
    // overflow: hidden;
    // justify-content: center;
    // margin: 0 auto;
    // display: flex;
    // justify-content: center;
  }

  &__slider-item {
    max-width: 503px;
    width: 100%;
    height: 611px;
    overflow: hidden;
    border-radius: 6px;

    position: absolute;
    transition: 400ms ease;
    opacity: 0;
    transform: translateX(-100%);
    z-index: 10000;

    &.active {
      opacity: 1;
      z-index: 300;
      transform: translateX(0);
      // left: 0;
      // transform: scale(1);
      // z-index: 4000;
      // &.description__slider-first {
      //   left: 90px;
      //   z-index: 1000;
      //   transform: scale(0.8);
      // }
    }
    // &:not(:first-child) {
    //   opacity: 0;
    // }

    // &.description__slider-first {
    // width: 100px;
    // opacity: 1;
    // z-index: 3000;
    // }
    // &.description__slider-second {
    // left: 50px;
    // z-index: 2000;
    // transform: scale(0.9);
    // opacity: 0;
    // }
    // &.description__slider-third {
    //   left: 90px;
    //   z-index: 1000;
    //   transform: scale(0.8);
    // }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 576px) {
      max-width: 225px;
      height: 274px;
      text-align: center;
    }
  }
  .arrow-block {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: rotate(-90deg);
  }
}
.features {
  padding-top: 255px;
  padding-bottom: 260px;
  position: relative;

  background-image: url('../images/bg-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 960px;
  z-index: 10;

  @media (max-width: 576px) {
    padding: 82px 0 82px;
    background-position: -460px center;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: radial-gradient(
        17.45% 34.77% at 8.45% 37.62%,
        rgba(255, 255, 255, 0) -3%,
        rgba(0, 0, 0, 0) -10%,
        rgba(4, 5, 6, 2.520671) 6.99%,
        rgba(6, 7, 8, -2.260399) 85.03%,
        #080a0b 99.74%
      );
    }

    // &::after {
    //   position: absolute;
    //   content: '';
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   z-index: -1;
    //   background: radial-gradient(
    //     17.45% 34.77% at 31.45% 40.62%,
    //     rgba(255, 255, 255, 0) 0%,
    //     rgba(0, 0, 0, 0) 0%,
    //     rgba(4, 5, 6, 0.520671) 25.99%,
    //     rgba(6, 7, 8, 0.739601) 65.03%,
    //     #080a0b 99.74%
    //   );
    // }
  }

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(
      51.1% 80.48% at 30.85% 53.65%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.2%,
      rgba(4, 5, 6, 0.520671) 47.48%,
      #080a0b 99.74%
    );
  }

  &__col-left {
    margin-left: calc(100% - 390px);
  }

  // @media (max-width) {
  //   margin-left: calc(100vw - 390px);
  // }

  &__pretitle {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 85px;
  }

  // &__list {
  // overflow: hidden;
  // }

  &__item {
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      top: 10px;
      left: 0;
      border: 1.5px solid #ffffff;
      border-radius: 50%;
      transition: 400ms ease;
    }

    // &:not(:last-child) {
    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 155px;
      top: 17px;
      left: 6.3px;
      background-color: #fff;
      transition: 400ms ease;
      display: none;
    }
    // }
    // &:last-child {
    //   .features__item::after {
    //     display: none;
    //   }
    // }

    &.active {
      &::before {
        background-color: #fff;
      }
      .features__item-text {
        // display: block;
        // transition: 500ms ease;
        height: auto;
        opacity: 1;

        transform: translateY(0);
      }
    }
  }
  &__item-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    color: #ffb548;
    margin-bottom: 25px;
  }

  &__item-text {
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #ffffff;
    margin-bottom: 28px;
    max-width: 363px;
    // display: none;
    transform: translateY(-100%);
    // height: 0;
    opacity: 0;
    height: 0;
    transition: 500ms ease;
    // &.hidden {
    //   display: none;
    // }
  }
}
.requirements {
  background-image: url('../images/bg-4.jpg');
  height: 960px;
  padding: 145px 0 170px;
  position: relative;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 576px) {
    padding: 65px 0 170px;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      33.26% 45% at 64.32% 47.1%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    );
    z-index: -1;
  }

  &__pretitle {
    margin-bottom: 22px;
    @media (max-width: 576px) {
      font-size: 18px;
      line-height: 18px;
    }
  }
  &__title {
    margin-bottom: 145px;
    @media (max-width: 576px) {
      font-size: 33px;
      line-height: 33px;
      margin-bottom: 71px;
    }
  }
  // &__items {
  // }
  &__col-left {
    margin-left: 1px;
    max-width: 573px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);

    // &::after {
    //   position: absolute;
    //   content: '';
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: url('../images/disquette.png') center center/cover
    //     no-repeat;
    //   z-index: 100;
    // }
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 277px);
    grid-template-rows: repeat(3, 125px);
    grid-auto-rows: auto;
    align-items: center;
    position: relative;
    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 142px);
      grid-template-rows: repeat(3, 110px);
    }
  }

  &__item {
    padding: 10px 15px 30px 20px;
  }
  &__item:nth-child(1),
  &__item:nth-child(3) {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      top: -17px;
      right: 0;
      height: 175%;
      width: 1px;
      background-color: #fff;
      opacity: 0.3;
    }
  }

  &__item:nth-child(1),
  &__item:nth-child(2) {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      bottom: 0px;
      right: -18px;
      height: 1px;
      width: 110%;
      background-color: #fff;
      opacity: 0.3;
    }
  }

  &__item:nth-child(5) {
    grid-column: 1/-1;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: -18px;
      height: 1px;
      width: 110%;
      background-color: #fff;
      opacity: 0.3;
    }
  }
  &__item-title {
    color: #ffb548;
  }
  &__item-text {
    color: #fff;
  }
}
.quotes {
  width: 100%;
  // margin-right: 10%;
  min-height: 960px;
  // padding: 158px 0 158px;
  background-color: #000;
  background: url('../images/bg-5.jpg') no-repeat center center/cover;
  z-index: 10;
  position: relative;

  @media (max-width: 576px) {
    padding-top: 37px;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      70.52% 37.27% at 24.21% 47.47%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 51.1%,
      #080a0b 99.74%
    );
    z-index: -1;
  }

  &__pretitle,
  &__title {
    text-align: left;
  }
  &__pretitle {
    margin-top: 304px;
    margin-bottom: 15px;
    @media (max-width: 992px) {
      text-align: center;
      margin-top: 97px;
    }
    @media (max-width: 576px) {
      font-size: 18px;
      line-height: 18px;
      margin-top: 37px;
    }
  }
  &__title {
    margin-bottom: 55px;
    @media (max-width: 992px) {
      text-align: center;
    }
    @media (max-width: 576px) {
      font-size: 33px;
      line-height: 33px;
      margin-bottom: 30px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    max-width: 435px;
    margin-bottom: 60px;
    @media (max-width: 992px) {
      margin: 38px auto;
    }
  }

  &__button {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #1a1917;
    background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
    border-radius: 4px;
    padding: 19px 34px;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 155px;

    @media (max-width: 992px) {
      align-items: center;
      margin-top: 30px;
      margin-bottom: 80px;
    }
    @media (max-width: 576px) {
      margin-bottom: 30px;
    }
  }
  &__item {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    max-width: 453px;
    min-height: 183px;
    padding: 17px 15px 20px 21px;
    margin-right: 0;
    margin-bottom: 23px;
    margin-top: 0;
    transition: 500ms ease;
    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: 576px) {
      min-height: 148px;
    }

    &-first {
      margin-left: 50px;
      width: 100%;
      @media (max-width: 1200px) {
        margin-left: 0;
      }
      // @media (max-width: 576px) {
      //   margin-left: 0;
      // }
    }
    &-second {
      margin-left: -144px;
      @media (max-width: 1200px) {
        margin-left: 0;
      }
    }
    &-third {
      margin-left: -40px;
      @media (max-width: 1200px) {
        margin-left: 0;
      }
    }
  }

  .user {
    &__header {
      display: flex;
      justify-content: space-between;
      // align-items: center;
    }
    &__header-img {
      width: 62px;
      height: 62px;
      position: relative;
      z-index: 5;
      margin-bottom: 27px;
      margin-right: 32px;
      &::after {
        position: absolute;
        content: '';
        width: 65px;
        height: 65px;
        top: 2px;
        left: 8px;
        background-color: #ffb548;
        border-radius: 50%;
        z-index: -1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &__info {
      font-size: 18px;
      line-height: 22px;
      text-align: justify;
      color: #ffffff;
      opacity: 0.5;
      margin-right: auto;
      padding-top: 10px;
    }
    &__info-title {
      color: #ffb548;
      margin-bottom: 8px;
    }
    &__text {
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
      margin-bottom: 10px;
    }
    &__data {
      font-size: 14px;
      line-height: 19px;
      color: #ffffff;
      opacity: 0.5;
    }
    &__twitter {
      padding-top: 23px;
    }
  }
}


// Добавить обертку
.subscribe {
  // width: 1200px;
  // margin: 0 auto;
  height: 723px;
  background: #080a0b;
  z-index: 10;
  position: relative;

  background-image: url('../images/subscribe-img-2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  // background-position: 300px center;
  background-position: left 40% center;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(
      45.43% 53.19% at 50% 50%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 46.15%,
      #080a0b 99.74%
    );
    z-index: -1;
  }

  @media (max-width: 1200px) {
    background-position: center center;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: -1;
    }
  }

  &__pretitle {
    text-align: left;
    margin-top: 220px;
    margin-bottom: 8px;

    @media (max-width: 992px) {
      margin-top: 100px;
    }

    @media (max-width: 576px) {
      margin-top: 30px;
    }
  }
  &__title {
    text-align: left;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(100% - 680px);

    @media (max-width: 1200px) {
      margin: 0 auto;
    }
  }

  &__title {
    @media (max-width: 576px) {
      max-width: 190px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    max-width: 645px;
    margin-bottom: 59px;
    margin-top: 46px;
    @media (max-width: 576px) {
      max-width: 190px;
    }
  }
  &__send {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 142px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
    .input-block {
      width: 367px;
      min-height: 60px;

      position: relative;

      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 5px;
      padding: 6px auto 21px 6px;
      margin-right: 17px;
      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }

      @media (max-width: 576px) {
        width: 100%;
      }
      label {
        position: absolute;
        width: 178px;
        top: 6px;
        left: 21px;
        background-color: transparent;
        font-size: 14px;
        line-height: 19px;
        color: #ffffff;
        opacity: 0.5;
        border-radius: 4px;
      }
      input {
        position: absolute;
        background-color: transparent;
        top: 27px;
        left: 21px;
        color: #ffb548;
        font-size: 18px;
        line-height: 25px;
      }
    }
    button {
      display: block;
      background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
      border-radius: 4px;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      text-transform: capitalize;
      color: #1a1917;
      padding: 19px 71px;

      // @media (max-width: 1200px) {
      //   padding: 19px 31px;
      // }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.footer {
  padding-top: 30px;
  min-height: 233px;
  background: #080a0b;
  z-index: 10;
  .logo {
    cursor: pointer;
    transition: transform 250ms ease-in;
    &:hover {
      transform: translateY(5px);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 31px;

    @media (max-width: 992px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  .menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 88px;
    margin-left: 165px;

    @media (max-width: 1200px) {
      margin-left: 55px;
    }

    @media (max-width: 992px) {
      justify-content: center;
      flex-wrap: wrap;
      margin: 43px 0px;
    }
  }

  .menu__list-item {
    @media (max-width: 992px) {
      margin: 20px;
      // min-width: 165px;
    }
  }

  .menu__list-item + li {
    margin-left: 42px;

    @media (max-width: 1200px) {
      margin: 32px;
    }
    @media (max-width: 567px) {
      margin: 20px;
    }
  }

  .menu__list-link {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: #ffb548;
      transform: scaleX(0);
      transform-origin: center;
      opacity: 0;
      transition: 300ms ease;
    }

    &:hover {
      color: #ffb548;

      &::after {
        transform: scaleX(1);
        opacity: 1;
      }
    }
  }

  .socials__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social__item + li {
    margin-left: 50px;

    @media (max-width: 1200px) {
      margin-left: 30px;
    }
  }

  .socials__link {
    path {
      transition: 300ms ease;
    }
    &:hover {
      &.facebook {
        path {
          fill: #3b5998;
        }
      }
      &.twitter {
        path {
          fill: #00acee;
        }
      }
      &.youtube {
        path {
          fill: #ff1313;
        }
      }
      &.twitch {
        path {
          fill: #6441a5;
        }
      }
    }
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: #fff;
    opacity: 0.5;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 22px 0px 47px;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__copytext {
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    opacity: 0.5;

    @media (max-width: 576px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__tools {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;

    @media (max-width: 768px) {
      margin-top: 30px;
      text-align: center;
    }
  }
}
